.rate-graph-text{
    margin: 0 !important;
    font-size: 1rem !important;
    color: #121926 !important;
    font-weight: 600 !important;
    font-family: 'Roboto', sans-serif !important; 
    line-height: 1.235 !important;
    color: #424242 !important;
}